<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
</head>
<body style="background-image: url('/static/background4.png');background-position: center;background-size: cover;background-repeat: no-repeat;height: 87vh;width: 84vh;">
    <fieldset style="max-width: 400px;left: 520px;top: 200px;">
    <h1>Réinitialisation du mot de passe</h1>
    <form action="{{ url_for('reset_password') }}" method="POST">
        <label for="email">Adresse email :</label>
        <input type="email" name="email" id="email" required>
        <button type="submit" style="padding-left: 6px;padding-right: 6px;">Envoyer le code de réinitialisation</button>
        <a href="{{ url_for('login') }}" style="color:rgba(79,0,183,255);top: 10px;">back</a>
    </fieldset>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> 
    </form>
</body>
</html>
